body {
    font-family: Arial, sans-serif;
    text-align: center;
}

nav a {
    margin: 5px;
    padding: 10px 15px;
    cursor: pointer;
}


.slide-out {
    transform: translateX(-20px);
    opacity: 0;
    transition: all 0.3s ease;
}

.slide-in {
    transform: translateX(0);
    opacity: 1;
    transition: all 0.3s ease;
}