*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

ul{
    width: 50%;
    height: 40vh;
    overflow-y: scroll;
}
ul li{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
li p{
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
}
li span{
    color: red;
    cursor: pointer;
}