*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* #toggle-component::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
} */


